APP_NAME=project-pnr
APP_ENV=local

BACKEND_PORT=8000
FRONTEND_PORT=3000

POSTGRES_DB=pnr_db
POSTGRES_USER=pnr_user
POSTGRES_PASSWORD=pnr_password
POSTGRES_PORT=5432

DATABASE_URL=postgresql://pnr_user:pnr_password@postgres:5432/pnr_db
